{% comment %}
  @prettify-ignore
{% endcomment %}

<style>
    
</style>

{{ 'parentCollectionFirstSection.css' | asset_url | stylesheet_tag }}

{% if template.name != 'index' %}
  <div class="collectionTitleContainer">
    {% render 'collection-breadcrumbs' %}
    <h2>
      <span class="visually-hidden">
        {{- 'sections.collection_template.title' | t }}:
      </span>
      {{- collection.title | escape -}}
    </h2>
  </div>{% else %}

{% endif %}

<div class="firstSectionContainer">
  <div class="bigSlider">
    <section
      class="splide"
      aria-label="..."
      id="{{section.id}}">
      <div class="splide__track">
        <ul class="splide__list">
          {% for block in section.blocks %}
            <li class="splide__slide realOne">
              <div class="sliderItem">
                <div class="sliderInner">
                  <a href="{{ block.settings.button_link }}" class="slideImg">
                    {% comment %}
                    <img
                      src="{{ block.settings.image | img_url: '1100x600' }}"
                      alt="{{ block.settings.image.alt }}"
                      loading="lazy">
                    {%endcomment%}
                    <img
                      src="{{ block.settings.image | img_url: '300x300' }}" 
                      srcset="
                        {{ block.settings.image | img_url: '300x300' }} 700w,
                        {{ block.settings.image | img_url: '700x700' }} 1000w,
                        {{ block.settings.image | img_url: '1300x1300' }} 1600w"
                        alt="{{ block.settings.image.alt }}"
                        {% if block.settings.first == false %}
                        loading="lazy"
                        {% endif %}

                    />
                  </a>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    new Splide('#{{section.id}}', {
      type: 'loop',
      perPage: 1,
      autoplay: true,
      speed: 1000
    }).mount();
  });
</script>

{% schema %}
  {
    "name": "Slider Promo",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [

    ],
    "blocks": [
      {
        "type": "page",
        "name": "Custom page slide",
        "settings": [
          {
            "type": "url",
            "id": "button_link",
            "label": "Just add link"
          }, {
            "label": "Choose image to show in slider",
            "id": "image",
            "type": "image_picker"
          }, {
            "type": "checkbox",
            "id": "first",
            "label": "Is it first slide?",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slider Promo",
        "category": "Custom"
      }
    ]
  }
{% endschema %}